.card-content-overlay {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  color: #ccd6f6;
  font-family: Poppins;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 20px;
  gap: 10px;
  text-align: left;
  line-height: 1.6;
  z-index: 2;
  border-radius: 10px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.type-heading {
  color: #9857d3;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.52px;
}

.card-title {
  font-weight: bold;
  color: white;
  font-size: 28px;
  margin-bottom: 1rem;
  padding-bottom: 0.5rem;
  transition: text-shadow 0.3s ease-in-out;
}

.card-description {
  width: 100%;
  height: auto;
  padding: 1.2rem;
  border-radius: 14px;
  background-image: radial-gradient(
    151.92% 127.02% at 15.32% 21.04%,
    rgba(15, 3, 26, 0.911) 0%,
    rgba(25, 5, 34, 0.795) 77.08%,
    rgba(62, 9, 112, 0.774) 100%
  );
  backdrop-filter: blur(40px);
  font-size: 1rem;
  line-height: 1.8;
  color: rgba(255, 255, 255, 0.7);
  position: relative;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.6);
}

.card-description.expanded {
  max-height: 500px;
}

.card-github {
  font-weight: 700;
  border: 2px solid transparent;
  border-radius: 0.375rem;
  display: flex;
  padding: 0.25rem;
  align-items: flex-end;
  color: white;
  font-size: 1.875rem;
  text-shadow: 0 5px 2px rgba(255, 255, 255, 0.4);
  transition: background-color 0.3s ease-in-out;
}

.card-github:hover {
  background-color: #2f2d2d;
}

.read-more-toggle {
  display: none;
}

@media (max-width: 768px) {
  .card-content-overlay {
    padding: 15px;
    font-size: 1rem;
    gap: 5px;
  }

  .type-heading {
    display: flex;
    height: auto;
    width: 100%;
    font-size: 10px;
  }

  .card-title {
    height: auto;
    display: flex;
    width: 100%;
    font-size: 20px;
  }

  .card-description {
    width: 100%;
    height: auto;
    padding: 8px;
    border-radius: 14px;
    background-image: radial-gradient(
      151.92% 127.02% at 15.32% 21.04%,
      rgba(105, 59, 147, 0.2) 0%,
      rgba(110, 191, 244, 0.04) 77.08%,
      rgba(70, 144, 212, 0) 100%
    );
    background-blend-mode: overlay, normal;
    backdrop-filter: blur(40px);
  }

  .card-github {
    width: 100%;
    font-size: 1.5rem;
  }
}

@media (max-width: 480px) {
  .card-content-overlay {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    text-align: center;
    gap: 0.5rem;
  }

  .type-heading {
    font-size: 12px;
  }

  .card-title {
    font-size: 18px;
    margin: 5px 0;
  }

  .card-description {
    font-size: 14px;
    padding: 8px;
  }

  .card-github {
    font-size: 1rem;
    padding: 0.2rem;
  }
}
