.card-container {
  height: 380px;
  width: 1168px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 1rem;
  margin-top: 70px;
}

.card-container.reverse {
  flex-direction: row-reverse;
}

@media (max-width: 768px) {
  .card-container {
    height: 40vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin: 5%;
  }

  .card-container:hover .card-content-overlay,
  .card-container:active .card-content-overlay {
    opacity: 1;
  }
}
