.card-container {
  height: auto;
  width: 90%;
  position: relative;
  display: grid;
  grid-template-rows: auto auto;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 10px;
  margin: 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease,
    background-color 0.3s ease;
  background: rgba(35, 9, 61, 0.5);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(113, 39, 186, 0.5);
  padding: 20px;
}

.card-overlay {
  grid-row: 1 / 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-content {
  grid-row: 2 / 3;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.card-container:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.1);
}

.card-title {
  font-family: "Doto", sans-serif;
  font-size: 26px;
  font-weight: 600;
  color: #ffffff;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  margin-bottom: 1rem;
}

.card-description {
  font-family: "Preahvihear", sans-serif;
  font-size: 1rem;
  color: #dcdcdc;
  line-height: 1.8;
  text-align: left;
  margin: 15px 0;
  padding: 1rem;
  border-left: 4px solid #ff7f50;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 5px;
}

.card-button {
  width: 80%;
  background-color: #ff7f50;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  margin-top: 1rem;
}

.card-button:hover {
  background-color: #e67348;
  transform: scale(1.05);
}

.card-button:active {
  background-color: #cc5f3c;
  transform: scale(0.95);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.card-container.fade-in {
  animation: fadeIn 2s ease-in;
  animation-delay: 0.5s;
}

@media (max-width: 768px) {
  .card-container {
    gap: 1rem;
    margin: 0;
    padding: 15px;
    justify-content: space-evenly;
  }

  .card-title {
    font-size: 18px;
  }

  .card-description {
    font-size: 14px;
  }

  .card-button {
    width: 90%;
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .card-container {
    display: grid;
    grid-template-rows: auto auto;
    gap: 1rem;
    width: 95%;
    padding: 10px;
    border-radius: 10px;
    background: rgba(35, 9, 61, 0.5);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(113, 39, 186, 0.5);
  }

  .card-overlay {
    grid-row: 1 / 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
  }

  .card-content {
    grid-row: 2 / 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 0.5rem;
  }

  .card-title {
    font-size: 18px;
    margin-bottom: 10px;
  }

  .card-description {
    font-size: 14px;
    padding: 8px;
  }

  .card-button {
    font-size: 14px;
    padding: 8px 15px;
  }
}
