.card-content-overlay {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  color: #ccd6f6;
  font-family: Poppins;
  font-size: 34px;
  font-weight: 600;
  letter-spacing: 0.68px;
  padding: 30px;
}

.type-heading {
  color: #9857d3;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.32px;
}

.card-title {
  font-weight: bold;
  color: white;
  font-size: 1.25rem;
  transition: text-shadow 0.3s ease-in-out;
}

.card-description {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  width: 669px;
  height: 165px;
  border-radius: 14px;
  background-image: radial-gradient(
    151.92% 127.02% at 15.32% 21.04%,
    rgba(105, 59, 147, 0.2) 0%,
    rgba(110, 191, 244, 0.04) 77.08%,
    rgba(70, 144, 212, 0) 100%
  );
  background-blend-mode: overlay, normal;
  backdrop-filter: blur(40px);
  z-index: 1;
}

.card-github {
  font-weight: 700;
  border: 2px solid transparent;
  border-radius: 0.375rem;
  display: flex;
  padding: 0.25rem;
  align-items: flex-end;
  color: white;
  font-size: 1.875rem;
  text-shadow: 0 5px 2px rgba(255, 255, 255, 0.4);
  transition: background-color 0.3s ease-in-out;
}

.card-github:hover {
  background-color: #2f2d2d;
}

@media (max-width: 768px) {
  .card-content-overlay {
    height: 40%;
    width: 100%;
    display: flex;
    font-size: 24px;
    padding: 20px;
    position: relative;
    order: 2;
    text-align: start;
    align-items: start;
    z-index: 4;
    margin-top: 80%;
  }

  .type-heading {
    display: flex;
    height: auto;
    width: 100%;
    font-size: 14px;
  }

  .card-title {
    height: auto;
    display: flex;
    width: 100%;
    font-size: 1rem;
  }

  .card-description {
    width: 100%;
    height: auto;
    padding: 8px;
    border-radius: 14px;
    background-image: radial-gradient(
      151.92% 127.02% at 15.32% 21.04%,
      rgba(105, 59, 147, 0.2) 0%,
      rgba(110, 191, 244, 0.04) 77.08%,
      rgba(70, 144, 212, 0) 100%
    );
    background-blend-mode: overlay, normal;
    backdrop-filter: blur(40px);
  }

  .card-github {
    width: 100%;
    font-size: 1.5rem;
  }
}

@media (max-width: 480px) {
  .card-content {
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    z-index: 4;
  }

  .card-content-overlay {
    font-size: 18px;
    padding: 15px;
    font-size: 18px;
    padding: 15px;
    position: relative;
    top: auto;
    left: auto;
    order: 2;
    text-align: center;
    align-items: center;
  }

  .type-heading {
    font-size: 12px;
  }

  .card-title {
    font-size: 0.875rem;
  }

  .card-description {
    padding: 0.75rem;
  }

  .card-github {
    font-size: 1.25rem;
  }
}
