.card-overlay {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  position: relative;
  gap: 10px;
  border-radius: 10px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.card-overlay:hover {
  background-color: rgba(255, 255, 255, 0.1);
  transform: scale(1.02);
}

.card-bg-linearGradient {
  width: 100%;
  height: 100%;
  border-radius: 600px;
  position: absolute;
  top: -15%;
  left: 0;
  background: radial-gradient(
    50% 50% at 50% 50%,
    #763cac 0%,
    rgba(50, 15, 133, 0) 100%
  );
}

.card-img-bg {
  border-radius: 10px;
  background: #2b215a;
  width: 100%;
  height: auto;
  position: relative;
}

.card-image {
  width: 100%;
  height: auto;
  border-radius: 15px;
  transition: transform 0.5s ease-in-out;
  position: relative;
  z-index: 2;
}

@media (max-width: 768px) {
  .card-overlay {
    gap: 5px;
  }

  .card-bg-linearGradient {
    width: 100%;
    height: 100%;
    position: relative;
    top: -10%;
    left: 0;
  }

  .card-img-bg {
    width: 100%;
    height: 100%;
  }

  .card-image {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
    z-index: 3;
  }
}

@media (max-width: 480px) {
  .card-overlay {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    padding: 10px;
  }

  .card-bg-linearGradient {
    top: 0;
    position: relative;
    width: 100%;
    height: auto;
  }

  .card-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
  }
}
