.projectContainer {
  display: flex;
  overflow-x: auto;
  height: 100vh;
  padding: 1rem;
  justify-content: flex-start;
  scroll-snap-type: x mandatory;
}

.projectCard {
  flex: 0 0 auto;
  margin-right: 1rem;
  margin-left: 1rem;
  margin-top: -1rem;
  width: 22%;
  height: 60vh;
  background-color: orange;
  border-bottom-right-radius: 2rem;
  border-bottom-left-radius: 2rem;
  scroll-snap-align: start;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projectImg,
.projectAbout {
  width: 80%;
  height: 70%;
  margin: 1rem;
  background-color: white;
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.projectAbout {
  height: 20%;
  margin-bottom: 2rem;
}
