.contact-motion-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  margin: 5% 0%;
}
.contact-container {
  display: grid;
  grid-template-columns: 51% 49%;
  justify-content: center;
  align-items: start;
  position: relative;
  height: auto;
  width: 70%;
  color: #ffffff;
  padding: 30px;
  border-radius: 15px;
  background: linear-gradient(
    96deg,
    #130428 0.58%,
    #251043 16.32%,
    #38126d 29.33%,
    #261045 45.66%,
    #190634 54.44%
  );
  box-shadow: 4px 7px 26px 0px rgba(0, 0, 0, 0.12);
}

.contact-text {
  color: #fff;
  font-family: Preahvihear;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.3px;
  padding: 32px;
}

.heading-1 {
  font-size: 36px;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  margin-bottom: 1.5rem;
}
.heading-2 {
  font-size: 20px;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  margin-bottom: 1.5rem;
}
.heading-3 {
  font-size: 14px;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  margin-bottom: 1.5rem;
}

.social-links {
  color: #ffffff;
  display: flex;
  flex-direction: row;
  gap: 1.25rem;
  font-size: 1.5rem;
  align-items: flex-start;
  justify-content: flex-start;
  height: 20%;
  width: 100%;
  padding: 2.5rem;
}

@media (max-width: 600px) {
  .contact-motion-container {
    flex-direction: column;
    height: 120%;
    margin-bottom: 20%;
  }

  .contact-container {
    display: flex;
    flex-direction: column;
    width: 90%;
    padding: 20px;
  }

  .social-links {
    gap: 1rem;
    padding: 1.5rem;
  }
}
