.navLink {
  position: relative;
  text-decoration: none;
  color: #000;
}

.navLink::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #cd3005;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.navLink:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.sticky {
  position: sticky;
  top: 0;
  z-index: 100;
}
