.ellipse {
  background: linear-gradient(
    to bottom,
    rgba(24, 102, 126, 0.118) 0%,
    rgba(21, 95, 117, 0.686) 25%,
    rgba(84, 130, 144, 0.63) 50%,
    rgba(163, 177, 183, 0.393) 75%,
    rgba(199, 212, 217, 0.66) 100%
  );
  border-radius: 50% 50% 0 0 / 50% 50% 0 0;
  padding: 0;
  margin: 0;
  filter: blur(5px);
}
