.line-container {
  position: absolute;
  height: 100%;
  width: 100%;
}

.gradient {
  background: transparent;
}

.line {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.03);
  z-index: 0;
}

.vertical-line {
  top: 0;
  bottom: 0;
  width: 1px;
}

.horizontal-line {
  left: 0;
  right: 0;
  height: 1px;
}
