.line-container {
  position: absolute;
  height: 100%;
  width: 100%;
}
.gradient {
  background: radial-gradient(
    circle at 50% 50%,
    rgba(49, 4, 71, 0.714) 0%,
    rgba(49, 4, 71, 0.948) 50%
  );
}

.line {
  position: absolute;
  background-color: rgba(49, 4, 71, 0.637);
  z-index: 0;
  backdrop-filter: blur(1px);
}

.vertical-line {
  top: 0;
  bottom: 0;
  width: 1px;
}

.horizontal-line {
  left: 0;
  right: 0;
  height: 1px;
}
