@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  height: 100vh;
  width: 100vw;
  background-image: url("../public/img.png");
  background-size: contain;
  background-repeat: no-repeat;
}
